<div id="tweet_button_area">
  <a href="http://twitter.com/share" class="twitter-share-button"
    data-url="http://mimiuchi.com"
    data-lang="ja"
    data-count="horizontal">Tweet</a>
</div>

<section id="overview">
<p id="overview_text">
<%= t "sessions.new.overview_text" %>
</p>
<p class="caution"><%= t "sessions.new.caution" %></p>
<%- form_tag session_path do -%>
  <p><%= image_submit_tag(t("images.login_button_url"), :id => "login_submit") %></p>
<%- end -%>
<br />
</section>

<section id="twitter_intro">
<div id="twitter_intro_area">
  <a href="http://twitter.com/33uchi">
    <img src="/images/logo_button.png" />
  </a>
  <p>
  <a href="http://twitter.com/33uchi"><%= t "sessions.new.follow_link_text" %></a>
  <span><%= t "sessions.new.follow_text" %></span>
  </p>
</div> 
</section>


