<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta name="robots" content="nofollow" />
    <title>みみうち | 相手に告白することなく、両思いかどうか確認できるサービス</title>
    <meta name="description" content="みみうちとは、相手に告白することなく、両思いかどうかTwitter IDで確認できるサービスです。">
    <meta name="keywords" content="twitter,ツイッター,両思い,恋愛,告白">
  </head>
  <body link="#2B9FE6" vlink="#B18689" alink="" style="color: #666666; font-size: x-small;">
    <a name="top"></a>
    <marquee loop="16" style="background-color: #B18689; color: #FFFFFF;">
    みみうちとは、相手に告白することなく、両思いかどうか確認できるTwitter連携サービスです。自分の片思いが相手に知られることはありません。あなたの片思いをそっと「みみうち」するだけです。
    </marquee>
    <table bgcolor="#B0C8CE" width="100%">
      <tr>
        <td align="left">
          <img src="/images/mobile/logo.gif" class="logo" />
        </td>
      </tr>
    </table>
    <!--Analytics [-->
    <% if RAILS_ENV == "production" %>
      <%= render :partial => "commons/ga" %>
    <% end %>
    <!--] Analytics-->
    &#xE6E2;<%= link_to "トップ", root_path, {:accesskey => 1} %>
  <% if logged_in? -%>
    &nbsp;(@<%= current_user.screen_name %> でログイン中)<br />
  <% end %>
  <br />

  <div id="content">

    <% if has_new_coupleinfo?(current_user) %>
      <span>&#xE6FB;</span><%= link_to "あなたと両思いの人がいます！", home_path, :style=>"color: red;"%><br />
    <% end %>

    <% if has_new_onewayinfo?(current_user) %>
      <span>&#xE6FB;</span><%= link_to "誰かがあなたをみみうちしました！", home_path, :style=>"color: red;"%><br />
    <% end %>

    <% if !notice.blank? %>
      <span>&#xE6FB;</span><span class="flash" style="color: red;"><%= notice %></span><br />
    <% end %>

    <% if logged_in? -%>
      <span>&#xE6FB;</span><%= link_to "あなたへのお知らせ！", home_path, :style=>"color: #FF5272;"  %><br />
      <% unless Love.find_with_deleted(:all, :conditions => "user_id = #{current_user.id}").blank? %>
        <br /><span>&#xE6FB;</span><%= link_to "DMの遅配についてのお知らせ", delivery_path, :style=>"color: #FF5272;"  %><br />
      <% end %>
    <% end %>

    <%= yield %>
  </div>
  <br />
  <div id="footer">
    <div>
      <% if logged_in? -%>
        <span>&#xE683;</span><%= link_to "ログアウト", logout_path %><br/>
        <span>&#xE683;</span><%= link_to "設定", account_path %><br/>
      <% end -%>
      <span>&#xE683;</span><%= link_to "みみうち公式Twitter", "http://mimiuchi.com/33uchi" %><br/>
      <span>&#xE683;</span><%= link_to "みみうちとは", about_path %><br/>
      <span>&#xE683;</span><%= link_to "ヘルプ", help_path %><br/>
    </div>
    <p id="footer_ad">
    <%= render :partial => "commons/ad" %>
    </p>
    <hr />
    <p id="copyright" style="text-align: center;">&copy; みみうち</p>
  </div>

</body>
</html>


